h1 {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
}
p{
    font-size: 20px;

}
h2{
    margin: 20px;
    font-weight: bold;
    font-size: 25px;

}
ul{
    margin: 5px;
    list-style: circle inside ;
}
h3{
    font-size: 20px;
    margin: 10px;
}
ol{
    margin: 5px;
    list-style: decimal inside ;  
}
